
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Book Library</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>
